@{
    ViewData["Title"] = "Home Page";
}
@using WebTest.Models.autofacTest;

@inject IGuidTransientAppService TransientAppService
@inject IGuidScopedAppService GuidScopedAppServic
@inject IGuidSingletonAppService GuidSingletonAppService
<div class="text-center">
    <div class="row">
        <div>
            <h2>GuidItem Shows</h2>

            <h3>TransientItem: @ViewBag.TransientItem</h3>

            <h3>ScopedItem: @ViewBag.ScopedItem</h3>

            <h3>SingletonItem: @ViewBag.SingletonItem</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div>
            <h2>GuidItem Shows</h2>

            <h3>TransientItem: @ViewBag.TransientItem1</h3>

            <h3>ScopedItem: @ViewBag.ScopedItem1</h3>

            <h3>SingletonItem: @ViewBag.SingletonItem1</h3>
        </div>
    </div>
    <br />
    <div class="row">
        <div>
            <h2>GuidItem Shows</h2>

            <h3>TransientItem: @TransientAppService.GuidItem()</h3>

            <h3>ScopedItem:@GuidScopedAppServic.GuidItem()</h3>

            <h3>SingletonItem: @GuidSingletonAppService.GuidItem()</h3>
        </div>
    </div>
</div>
